
.card{
    box-shadow: 10px 10px 8px #888888;
    padding: 10px;
    margin-bottom: 20px;
}
.btn-cont{
    display: flex;
}
.each-btn{
    border: 0px;
    margin: 5px;
    font-family: "Roboto";
    padding: 10px;
}
.del-btn{
    background-color: #e60000;
}
.edit-btn{
    background-color: #a400f2;
}
.view-btn{
    background-color: #ffff00;
}